/*-------------------------------- GENERIC -------------------------------------*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #2a3340;
}

h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-size: 2.2em;
  font-weight: 700;
}

h2 {
  font-size: 1.8em;
  font-weight: 500;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
}

h3 {
  font-size: 1.2em;
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  color: #2a3340;
  text-decoration: none;
}

a:visited {
  color: #2a3340;
}

a:hover, a:focus {
  color: #ba3f39;
  text-decoration: underline;
}

a:active {
  color: #ba3f39;
  text-decoration: underline;
}

.container {
  padding: 0 15px;
}

main {
  padding-top: 88px;
  width: 100%;
}

/*-------------------------------- HEADER -------------------------------------*/
.logo {
  max-width: 70px;
}

header {
  background-color: #FFFFFF;
  padding: 10px 5px 0px 5px;
  margin: 0px;
  position: fixed;
  width: 100%;
}

nav {
  padding-top: 0px;
  font-weight: 400;
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  color: #2a3340;
}

nav ul li a:visited {
  font-weight: 700;
  color: #2a3340;
  border-bottom: 1px solid #ba3f39;
}

nav ul li a:hover {
  font-weight: 700;
  color: #ba3f39;
}

nav ul li a:active {
  font-weight: 700;
  color: #ba3f39;
  border-bottom: 1px solid #ba3f39;
}

.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 4px;
  font-size: 40px;
  padding-right: 0;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
  color: #000;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 10px;
  background-color: #FFF;
}
.navtoggle.responsive li a:hover  {
  display: block;
  padding: 10px 10px;
  background-color: #ba3f39;
  color: #FFF;
}
.navtoggle.responsive li:last-child a:hover  {
  padding: unset;
  border-bottom: unset;
  background-color: unset;
}
.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
  border-bottom: unset;
}

/*-------------------------------- LINKS & BUTTONS -------------------------------------*/
.button {
  display: inline-block;
  background-color: #eee6d2;
  text-decoration: none;
  font-weight: 400;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 10px;
  margin: 0px 0px 30px 0px;
  transition-duration: 0.2s;
  transition-property: opacity;
  font-size: 1.2em;
}

.button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #ba3f39;
  opacity: 0.8;
}

.button:active {
  text-decoration: none;
  color: #eee6d2;
  background-color: #ba3f39;
}

.button.contact {
  background-color: transparent;
  color: #2a3340;
  border: 2px solid #2a3340;
}

.button.contact:hover {
  background-color: #ba3f39;
  color: #eee6d2;
  border: 2px solid #ba3f39;
}

.button.contact:active {
  background-color: #ba3f39;
  color: #eee6d2;
  border: 2px solid #ba3f39;
}

.file-link {
  color: #2a3340;
  text-decoration: underline;
}

.file-link a:visited {
  color: #2a3340;
}

.file-link a:hover, a:focus {
  color: #ba3f39;
  text-decoration: underline;
}

.file-link a:active {
  color: #ba3f39;
  text-decoration: underline;
}

.resume {
  background-color: transparent;
  color: #2a3340;
  border: 2px solid #2a3340;
  border-radius: 10px;
  padding: 0.5em 1em 0.5em 1em;
  font-weight: 400;
  transition: 0.2s opacity;
}

.resume:hover {
  background-color: #ba3f39;
  color: #eee6d2;
  border: 2px solid #ba3f39;
  text-decoration: none;
  opacity: 0.8;
}

.resume:active {
  background-color: #6d0c0f;
  color: #eee6d2;
  border: 2px solid #6d0c0f;
  text-decoration: none;
}

/*------------------------------------- ANIMATIONS -------------------------------------*/
.statement-role {
  font-weight: 300;
  color: #eee6d2;
  background-color: #ba3f39;
  padding: 1em 0.5em;
  display: inline-block;
  animation-duration: 5s;
  animation-name: statement-color-change;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  margin: 11px 0px;
}

@keyframes statement-color-change {
  0% {
    background-color: #ba3f39;
  }

  50% {
    background-color: #131f27;
  }

  100% {
    background-color: #ba3f39;
  }
}

.cls-1 {
  fill: #ba3f39;
}

.cls-2 {
  fill: #4f575b;
}

.cls-3, .cls-4 {
  fill: #498c7f;
}

.cls-12, .cls-3 {
  stroke: #fff;
}

.cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-3, .cls-6 {
  stroke-miterlimit: 10;
}

.cls-5, .cls-6 {
  fill: #fff;
}

.cls-6 {
  stroke: #2a3340;
}

.cls-7 {
  fill: #2a3340;
}

.cls-8 {
  opacity: 0.74;
}

.cls-9 {
  fill: #919ea6;
}

.cls-10,
.cls-11,
.cls-12 {
  fill: #212625;
}

.cls-10 {
  stroke: #f7f9f9;
}

.cls-11 {
  stroke: #f9f9f9;
}

.cls-13,
.cls-14 {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
}

.cls-13 {
  stroke-width: 1.15px;
}

.cls-14 {
  stroke-width: 0.65px;
}

#skyline .flyer_wheel {
  width: 50%;
  animation-duration: 5s;
  animation-name: wheel-move;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  transform-origin: 28.5% 34.5%;
}

@keyframes wheel-move {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bird1 {
  animation-duration: 2s;
  animation-name: bird1-move;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes bird1-move {
  0% {
    transform: translate(-10, -20px);
    opacity: 0;
  }

  50% {
    transform: translate(50px, 40px);
    opacity: 1;
  }

  100% {
    transform: translate(110px, 70px);
    opacity: 0;
  }
}

#skyline .supertree .cls-4 {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes color-change {
  25% {
    fill: #e28d99;
  }

  50% {
    fill: #eee6d2;
  }

  100% {
    fill: #498c7f;
  }
}

/*-------------------------------------- HOME Page ---------------------------------------*/
#hero {
  background-color: #eee6d2;
  padding: 30px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center;
}

#hero p {
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.2em;
}

/*-------------------------------------- ABOUT Page --------------------------------------*/
.my-profile img {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#container .me h2 {
  margin: 0 15px;
  text-align: center;
  padding: 30px 0px 20px 0px;
}

.skills-section {
  margin: 50px 0 0px 0;
}

/*-------------------------------- mile$ project Page -------------------------------------*/
.intro-row h1 {
  text-align: center;
}

.subheader {
  font-size: 1.2em;
  font-weight: 500;
  display: block;
  margin-top: 50px;
}

#project-section-1 {
  padding-bottom: 50px;
}

#project-section-3 {
  padding: 0 15px;
}

#project-section-4 {
  padding: 0 15px;
  border-bottom: 1px solid #000000;
}

/*-----------------------------footer--------------------------------*/
#contact h2 {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #000000;
}

#contact p {
  text-align: center;
}

.send-email {
  text-align: center;
}

.social-media-contact>ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.social-media-contact>ul>li {
  display: inline-block;
  max-width: 40px;
  margin: 15px 5px 5px 5px;
}

.copyright-notice {
  font-size: 0.8em;
}

/* =====================================================================
Medium devices (640px and larger)
====================================================================== */
@media only screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .logo {
    max-width: 90px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 20px;
    font-weight: 500;
  }
  nav ul li a:hover {
    font-weight: 700;
    color: #ba3f39;
    border-bottom: 1px solid #ba3f39;
  }
  main {
    padding-top: 140px;
    width: 100%;
  }

  .my-profile img {
    width: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }

  .skills-section h2, h3 {
    text-align: center;
  }

  .skills-section li {
    text-align: center;
    padding-right: 40px;
    list-style-type: none;
  }

  #work h2 {
    display: block;
    text-align: center;
  }

  #work h3 {
    text-align: left;
  }

  .resume {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .button {
    font-size: unset;
  }
  nav ul {
    margin: 1em 0;
  }

  nav ul li {
    display: inline-block;
    padding: 0px 15px 0px 15px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
  .navtoggle.responsive nav {
    display: none;
  }
  .navtoggle.responsive li  {
    display: none;
  }


}

/* =================================================================
Large devices (1024px or larger)
================================================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 21px;
  }

  nav {
    font-weight: 500;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .my-profile img {
    width: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    max-width: 110px;
  }

  #work h2 {
    display: block;
    text-align: center;
  }

  #work h3 {
    text-align: left;
  }

  h3 {
    font-size: 1.2em;
    font-weight: 500;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .resume {
    display: block;
    width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #hero {
    padding: 200px 0;
  }

  .process-row h2 {
    font-size: 2em;
  }

  .me h2 {
    font-size: 2em;
  }

  .container h2 {
    font-size: 2em;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
