* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #2a3340;
}

h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-size: 2.2em;
  font-weight: 700;
}

h2 {
  font-size: 1.8em;
  font-weight: 500;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
}

h3 {
  font-size: 1.2em;
  font-weight: 500;
}

img {
  width: 100%;
}

.statement-role {
  font-weight: 300;
  color: #eee6d2;
  background-color: #ba3f39;
  padding: 0 0.5em 0 0.4em;
}

header {
  background-color: #FFFFFF;
  padding: 10px 5px 15px 5px;
  margin: 0px;
  text-align: center;
}

a {
  color: #2a3340;
  text-decoration: none;
}

a:visited {
  color: #2a3340;
}

a:hover, a:focus {
  color: #ba3f39;
  text-decoration: underline;
}

a:active {
  color: #ba3f39;
  text-decoration: underline;
}

.button {
  display: inline-block;
  color: #ffffff;
  background-color: #eee6d2;
  text-decoration: none;
  font-weight: 400;
  padding: 0.5em 1em 0.5em 1em;
  transition: 0.2s opacity;
  border-radius: 10px;
}

.button:hover {
  text-decoration: none;
  color: #eee6d2;
  background-color: #ba3f39;
}

.button:active {
  text-decoration: none;
  color: #eee6d2;
  background-color: #6d0c0f;
}

.button.contact {
  background-color: transparent;
  color: #2a3340;
  border: 2px solid #2a3340;
}

.button.contact:hover {
  background-color: #ba3f39;
  color: #eee6d2;
  border: 2px solid #ba3f39;
}

.button.contact:active {
  background-color: #ba3f39;
  color: #eee6d2;
  border: 2px solid #ba3f39;
}

.resume {
  background-color: transparent;
  color: #2a3340;
  border: 2px solid #2a3340;
  border-radius: 10px;
  padding: 0.5em 1em 0.5em 1em;
  font-weight: 400;
}

.resume:hover {
  background-color: #ba3f39;
  color: #eee6d2;
  border: 2px solid #ba3f39;
  text-decoration: none;
}

.resume:active {
  background-color: #6d0c0f;
  color: #eee6d2;
  border: 2px solid #6d0c0f;
  text-decoration: none;
}

.container {
  padding: 0 15px;
}

#work .project-row {
  margin: 25px 0;
  border-bottom: 1px solid #000000;
  padding-bottom: 25px;
}

#hero h1 {
  text-align: center;
}

.logo {
  max-width: 150px;
}

header {
  text-align: center;
  padding: 0 0;
  position: fixed;
  width: 100%;
  border-bottom: 5px solid #ba3f39;
}

nav {
  width: 100%;
  padding-top: 20px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #2a3340;
}

nav>ul>li>a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #2a3340;
}

nav>ul>li>a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ba3f39;
  text-decoration: none;
  border-bottom: 1px solid #ba3f39;
}

nav>ul>li>a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ba3f39;
}

#hero {
  background-color: #eee6d2;
  padding: 150px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 235px;
  width: 100%;
}

#hero p {
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.2em;
}

.my-profile {
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}

.skills-section {
  margin: 50px 0 0px 0;
  border-bottom: 1px solid #000000;
}

.intro-row h1 {
  text-align: center;
}

.subheader {
  font-size: 1.2em;
  font-weight: 500;
  display: block;
  margin-top: 50px;
}

#project-section-1 {
  padding-bottom: 20px;
  border-bottom: 1px solid #000000;
}

#project-section-3 {
  padding: 0 15px;
}

#project-section-4 {
  padding: 0 15px;
  border-bottom: 1px solid #000000;
}

/*-----------------------------footer--------------------------------*/
#contact h2, #contact p {
  text-align: center;
}

.send-email {
  text-align: center;
}

.social-media-contact>ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.social-media-contact>ul>li {
  display: inline-block;
  max-width: 40px;
  margin: 15px 5px 5px 5px;
}

.copyright-notice {
  font-size: 0.8em;
}
